@import './_variables.scss';
@import './_mixins.scss';

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"] {
  padding: 0 15px;
  border: 1px solid $color-light-gray;
  border-radius: 4px;
  outline: none;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 0.875em;
  height: 30px;
  line-height: 30px;
  transition: border 0.3s linear;


  &:hover,
  &:focus {
    border: 1px solid $color-brand-secondary;
  }
}



.selectControl {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;

  @include breakpoint(to-mobile) {
    width: 100%;
  }
}
.selectControl select {
  display: inline-block;
  min-width: 230px;
  height: 32px;
  cursor: pointer;
  padding: 0 15px;
  outline: 0;
  border-radius: 5px;
  background: transparent;
  border: 1px solid $color-light-gray;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all .25s linear;
  font-size: 0.75em;

  @include breakpoint(to-mobile) {
    width: 100%;
  }
}
.selectControl select::-ms-expand {
  display: none;
}
.selectControl select:hover {
  background: transparent;
  border: 1px solid $color-brand-secondary;
}
.selectControl select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.selectControlArrow {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 10px;
  font-size: 0.75em;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}
.selectControl select:hover ~ .selectControlArrow {
  border-top-color: #000;
}
.selectControl select:disabled ~ .selectControlArrow {
  border-top-color: #ccc;
}