$color-brand-primary: #e92040;
$color-highlight: lighten($color-brand-primary, 10%);
$color-brand-secondary: #00BCD1;
$color-light-gray: #dadada;
$color-gray: #BDBBB0;
$color-dark: #353535;

$color-ui-ok: #71B340;
$color-ui-warn: #F7D200;
$color-ui-error: #FF4242;
$color-ui-info: #2D7DD2;