@import '../../assets/scss/_variables.scss';
@import '../../assets/scss/_mixins.scss';

.container {
  width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;

  @include breakpoint(to-large-desktop) {
    width: 100%;
  }
}

.headerWrapper {
  padding: 20px 0;
  border-bottom: 1px solid $color-brand-primary;
  margin-bottom: 20px;

  h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
  }
  .label {
    font-size: 0.65em;
    text-transform: none;
    color: $color-gray;
    margin-right: 10px;
    font-weight: 400;

    @include breakpoint(to-mobile) {
      width: 100%;
      display: block;
      margin: 0;
    }
  }
}


.footerWrapper {
  padding: 20px 20px 40px 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $color-gray;

  button {
    @include button-generator($background: $color-light-gray, $padding: 15px 40px)
  }
}