@import "../../assets/scss/variables";

.headerWrapper {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid $color-light-gray;
}

.logoWrapper {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: $color-dark;

  img {
    transition: transform 0.5s cubic-bezier(0.03, 0.48, 0.26, 0.99);
    border-radius: 50%;
  }

  &:hover img {
    transform: rotate(20deg);
  }

}

.logoText {
  margin: 0 0 0 15px;
  font-size: 1.5em;
  font-weight: 600;
}