.summary {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
  flex-wrap: wrap;
  padding: 0 20px;
  line-height: 1.125em;
  font-weight: 700;

  span {
    width: 100%;
    display: block;
    font-size: 0.65em;
    text-align: right;
    font-weight: 400;
  }
}