@import './assets/scss/_variables.scss';
@import './assets/scss/_fonts.scss';
@import './assets/scss/_mixins.scss';
@import './assets/scss/_form-elements.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1em;
  color: $color-dark;
}

img {
  max-width: 100%;
  display: block;
}

div, footer, section, header {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

a, button {
  color: inherit;
  transition: all 0.3s linear;
  cursor: pointer;
}
a {
  color: $color-brand-secondary;
  &:hover {
    color: $color-brand-primary;
  }
}

hr {
  border: none;
  border-top: 1px solid $color-light-gray;
  width: 100%;
  margin: 40px 0;
}

p, li {
  line-height: 1.5em;
}