@import '../../assets/scss/_variables.scss';
@import '../../assets/scss/_mixins.scss';

.footerWrapper {
  padding: 20px 20px 40px 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $color-gray;

  button {
    @include button-generator($background: $color-light-gray, $padding: 15px 40px)
  }
}

.cartEmpty {
  padding: 40px 0;
  text-align: center;
}