@import "../../assets/scss/variables";

.message {
  width: 100%;
  display: flex;
}

.messageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background: transparent;
    border: none;
    padding: 15px 20px;
  }
  p {
    margin: 0;
  }
}

.type{
  &ok {
    background: $color-ui-ok;
    color: #fff;
  }
  &warn {
    background: $color-ui-warn;
    color: #fff;
  }
  &error {
    background: $color-ui-error;
    color: #fff;
  }
  &info {
    background: $color-ui-info;
    color: #fff;
  }
}